body {
  font-family: Poppins;
  background-color: #12101d;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/london1.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 200px;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #fff;
  text-decoration: none;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}

main {
  background-color: #fff;
}

main img {
  max-width: 570px;
}

main h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
}

main h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  opacity: 0.3;
  margin: 0;
}

main p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
}

.grid {
  display: grid;
  grid-gap: 50px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

section {
  max-width: 1200px;
  margin: auto;
  padding: 100px;
}

footer {
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/london3.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

footer h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

footer p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}

footer ul {
  padding: 0;
  color: #fff;
}

footer li {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: #fff;
  opacity: 0.7;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 40px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    font-size: 7px;
    padding: 8px 16px;
    margin-top: 16px;
  }

  main img {
    max-width: 100%;
  }

  main h2 {
    font-size: 20px;
  }

  main h3 {
    font-size: 8px;
  }

  main p {
    font-size: 8px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }
  section {
    padding: 30px;
  }

  footer {
    padding: 20px;
  }
  footer li {
    font-size: 8px;
  }
  footer h3 {
    font-size: 12px;
  }
  footer p {
    font-size: 8px;
  }
}
